@import '../variables';
@import '../../../vendor/leaflet';
@import '../../../vendor/markercluster';
@import '../../../vendor/markercluster.default';
@import 'markers';
@import 'controls';
@import 'sidebar';

// Strech map inside the main application layout
.footer-separator{
  display: flex;
  flex-direction: column;

  main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .section-stretch{
      flex: 1;
      display: flex;

      .decidim-map{
        flex: 1;
        display: flex;

        .leaflet-container{
          flex: 1;
        }
      }
    }
  }
}
